<div class="todoList">
  <div class="todoListContentBody">
    <!-- Add Form -->
    <form name="todolistaddform">
      <div>
        <input type="text" id="todolistName" placeholder="Enter task name" />
        <input type="date" id="todolistDate" name="todolistDate">
        <span class="addnewtodoelement addbutton">+</span>
      </div>
    </form>
    <!-- todolist listing -->	
    {% if task_lists is empty  %}
      <div id="todolistcontentlisting">	
        <h3>{{ "There are no task found."|t }}</h3>
      </div>
      {% else %}
      <div id="todolistcontentlisting">				
        <div id="todolistlistcheckboxes">
          {% for task in task_lists %}
            {% if (task.status == 1) and (task.tododate == 0) %}
              {% set stikeClass = '' %}
              {% set checkStatus = '' %}
            {% elseif (task.status == 1) and (task.tododate >= date().getTimestamp) %}
              {% set stikeClass = '' %}
              {% set checkStatus = '' %}
            {% elseif (task.status == 1) and (task.tododate|date("d-m-Y") == ("now"|date("d-m-Y"))) %}
              {% set stikeClass = '' %}
              {% set checkStatus = '' %}  
            {% else %}
              {% set stikeClass = 'strike-out' %}
              {% set checkStatus = 'checked' %}
            {% endif %} 

            {% if (task.tododate == 0) %}
              {% set todate = '' %} 
            {% else %}
              {% set todate = '(' ~ task.tododate|date('d/m/Y') ~ ')' %}
            {% endif %} 
            
            <div class="{{ stikeClass }}" id="todolist_{{ task.id }}">
              <input id="{{ task.id }}" name="todolistcheckboxes" class="todolist-class" {{ checkStatus }} type="checkbox" /> <span title="{{ task.todoname }}">{{ task.todoname }}  {{ todate }}</span><br />
            </div> 
          {% endfor %}  
        </div>
        <div class="tododeletebtn">
          {% if(true) %}
            <span class="deletetodoelements">Delete</span>
          {% endif %}
        </div>

      </div> 
    {% endif %}
  </div>
</div>    
